/*!
* Theme Name: Darkfall Info: ROA
* Theme URI:
* Description: Theme to support Darkfall Info ROA Site
* Author: Nathan Mynarcik
* Author URI: http://www.mynarcik.com/
* Version: 1.1
* Tags: darkfall
* License: GNU General Public License | This theme is completely free and open source to use as you like for both personal and commercial projects without any limitations
* License URI: https://www.gnu.org/licenses/gpl.html
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr,
th, td, article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup, menu,
nav, output, ruby, section, summary, time, mark, audio, video {
    font: inherit;
    padding: 0;
    border: 0;
    margin: 0;
    vertical-align: baseline;
}
body {
    line-height: 1
}
ol,
ul {
    list-style: none
}
blockquote,
q {
    quotes: none
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none
}
table {
    border-collapse: collapse;
    border-spacing: 0
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block
}
.clear {
    clear: both
}
::selection {
    background: #211614;
    color: white;
    text-shadow: 0 0 #000
}
html {
    height: 100%;
    position: relative
}
body {
    width: 100%;
    height: 100%;
    min-height: 100%;
    background-color: #000;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    position: relative;
    font-size: 14px;
    line-height: 18px;
    animation: pulse 2s ease-out infinite alternate;
}
@keyframes pulse {
      0% {background-color: #000;}
     100% {background-color: #101010;}
}
p {
    margin-bottom: 20px;
    font-family: 'Oswald', sans-serif;
    font-weight: 400
}
a {
    font-weight: bold;
    color: #000
}
a.df-btn {
    display: block;
    width: 161px;
    height: 29px;
    text-align: center;
    background: url(images/df-btn.png);
    font-size: 20px;
    color: white;
    padding: 10px 0;
    position: absolute;
    top: 130px;
    left: 350px;
    font-weight: normal
}
a:hover {
    color: #990000;
    text-decoration: none;
    text-shadow: -1px -1px black
}
li a:hover {
    text-shadow: 0 0 black
}
h1 {
    font-weight: bold;
    font-size: 30px;
    color: #000;
    margin-bottom: 5px;
    text-shadow: 1px 1px #CCC
}
h2 {
    font-weight: bold;
    font-size: 24px;
    color: #000;
    margin-bottom: 5px;
    text-shadow: 1px 1px #CCC
}
h3 {
    font-weight: bold;
    font-size: 20px;
    color: #000;
    margin-bottom: 5px;
    border-bottom: 4px double;
    text-shadow: 1px 1px #CCC;
    padding-bottom: 4px
}
code {
    clear: both;
    display: block;
    margin: 10px
}
#content.full-width {
    width: 920px
}
#wrapper {
    width: 960px;
    background: url(images/bg-grey-light.jpg);
    box-shadow: 0 5px 5px black;
    margin: 0 auto;
    position: relative
}
header {
    min-width: 960px;
    clear: both;
    position: relative;
    font-family: 'Smythe', cursive, serif;
    font-weight: 400
}
header #branding {
    background: url(images/spiral-roa2.jpg) center;
    background-size: cover;
    height: 180px;
    padding-top: 30px
}
header #branding #site-title a {
  width: 300px;
  height: 116px;
  background: url(images/logo-large.png) no-repeat 0;
  text-indent: -9999px;
  margin: 0 0 -24px 20px;
  display: block;
  background-size: contain;
}
header #branding #site-title h1 {
    margin-bottom: 0
}
header #branding #site-description {
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 30px;
    text-shadow: 1px 1px 1px white;
    width: 280px;
    text-align: center;
    margin-bottom: 20px;
    color: #150d09;
    text-transform: uppercase;
    margin-top: -5px;
    margin-left: 20px;
    font-family: 'Smythe', cursive, serif
}
header #branding #box-art {
    position: absolute;
    top: 17px;
    left: 304px;
    transform: rotate(7deg);
    -ms-transform: rotate(7deg);
    -moz-transform: rotate(7deg);
    -webkit-transform: rotate(7deg);
    -o-transform: rotate(7deg)
}
nav {
    width: 100%;
    clear: both;
    height: 80px;
    display: block;
    background: url(images/bg-navblack.png) repeat-x;
    margin-top: -16px;
    padding-top: 21px;
    font-family: 'Smythe', cursive, serif;
    font-weight: 400!important;
    position: relative
}
nav li a {
    font-weight: normal
}
nav #search-inputs {
    float: right;
    margin-right: 20px;
    color: black
}
#search-inputs input[type="text"] {
    height: 23px;
    font-weight: normal!important;
    padding: 3px 6px
}
input:focus,
textarea:focus {
    border-color: rgba(235, 253, 52, 0.8)!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 253, 52, 0.6)!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 253, 52, 0.6)!important;
    outline: 0;
    outline: thin dotted 9
}
::-webkit-input-placeholder {
    color: #000!important;
    font-weight: bold!important
}
:-moz-placeholder {
    color: #000;
    font-weight: bold
}
nav .menu {
    margin: 0 20px;
    text-transform: uppercase;
    font-weight: bold
}
nav .menu li {
    float: left;
    margin-right: 10px;
    border-right: 1px solid white;
    position: relative;
    height: 20px;
    padding: 4px 10px 4px 0
}
nav .menu li:last-child {
    border-right: 0
}
nav .menu a {
    color: white;
    font-size: 25px
}
nav .menu a:hover {
    text-decoration: none;
    color: #990000;
    text-shadow: -1px -1px 1px black
}
nav .menu li:hover>ul {
    display: block
}
nav .menu li ul {
    background: #000;
    padding: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    position: absolute;
    left: -10px;
    top: 28px;
    z-index: 100;
    min-width: 150px;
    display: none
}
nav .menu li ul li {
    float: none;
    border: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    white-space: nowrap;
    border-bottom: 1px dotted white
}
nav .menu li ul li:last-child {
    border: 0
}
nav .menu ul ul {
    position: absolute;
    left: 120px;
    top: -10px;
    display: none
}
#content {
    float: left;
    margin-left: 20px;
    width: 695px;
    padding-right: 20px;
    position: relative
}
#content .page-title {
    margin-bottom: 20px
}
.entry-meta {
    display: none
}
.entry-content {
    position: relative;
    margin: 30px 0
}
.entry-content font {
    color: #333!important
}
.entry-footer {
    text-transform: uppercase;
    clear: both
}
.entry-footer .icon-tags {
    margin-top: 2px
}
aside#sidebar {
    float: right;
    margin-right: 20px;
    width: 180px
}
#sidebar ul li ul li {
    background: url(images/bullet.png) no-repeat;
    vertical-align: middle;
    margin-bottom: 10px;
    padding-left: 20px
}
#sidebar ul li ul li:hover {
    background: url(images/role16.png) no-repeat
}
#sidebar select {
    width: 100%;
    margin-bottom: 30px
}
footer {
    width: 920px;
    padding: 20px;
    border-top: 4px double;
    margin-top: 40px
}
footer #copyright {
    float: left;
    bpadding: 10px 30px 0 0
}
#searchsubmit.btn {
    margin-top: -12px;
    margin-left: -10px;
    background: #000;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    height: 33px
}
.pop-out {
    float: right;
    margin-bottom: 15px!important
}
.pop-out.top {
    position: absolute;
    top: 0;
    right: 20px
}
.pop-out i.icon-fullscreen {
    margin-top: 4px
}
.page-template-page-map-php h1 {
    margin-bottom: 10px
}
.map .entry-content {
    margin: 30px 0 0
}
.map .entry-content>.gad {
    position: absolute;
    top: -30px;
    right: 20px
}
#map_canvas {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #000!important
}
#gmnoprint {
    width: auto
}
#map-container {
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 98
}
article #map-container {
    height: 785px;
    position: relative
}
article #map-container #map_canvas {
    height: 770px
}
article #map-container .gad {
    margin: 0;
    position: static
}
#map-container .gad {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 99;
    margin: 0;
    height: 15px;
    text-align: left
}
.single-poi #map_canvas {
    width: 400px;
    height: 400px;
    float: right
}
.single-poi #poi-details {
    float: left;
    max-width: 285px;
    line-height: 30px
}
.single-poi #poi-container:after {
    content: '';
    display: block;
    position: relative;
    clear: both
}
#poi-details .icon.mob {
    text-indent: -9999px;
    display: inline-block;
    width: 30px;
    height: 30px
}
#poi-details .icon.mob.hard {
    background: url('images/poi-mob-hard.png');
    background-size: 100%
}
#poi-details .icon.mob.easy {
    background: url('images/poi-mob-easy.png');
    background-size: 100%
}
#poi-details .icon.mob.med {
    background: url('images/poi-mob-med.png');
    background-size: 100%
}
#poi-details .icon.mob.veryhard {
    background: url('images/poi-mob-veryhard.png');
    background-size: 100%
}
#map-container #map-legend {
    width: 36px;
    position: absolute;
    top: 50%;
    left: 25px;
    z-index: 101
}
#map-container #map-legend a {
    background: white;
    width: 16px;
    height: 16px;
    clear: both;
    display: block;
    padding: 3px;
    border: 2px solid black;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    margin-top: 5px
}
#map-legend a i {
    background: url(images/map-legend.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    text-indent: -9999px
}
#map-legend a.active {
    background-color: #687a34!important
}
#map-legend #fs-btn.active {
    background-color: white!important
}
#map-legend #fs-btn i {
    background-position: 0 0
}
#map-legend #fs-btn.active i {
    background-position: 0 -16px
}
#map-legend #mob-btn i {
    background-position: 0 -80px
}
#map-legend #bank-btn i {
    background-position: 0 -48px
}
#map-legend #craft-btn i {
    background-position: 0 -96px
}
#map-legend #bind-btn i {
    background-position: 0 -32px
}
#map-legend #portal-btn i {
    background-position: 0 -64px
}
#map-legend #holding-btn i {
    background-position: 0 -112px
}
#map-legend #village-btn i {
    background-position: 0 -128px
}
#map-legend #chest-btn i {
    background-position: 0 -144px
}
#map-search {
    position: absolute;
    right: 10px;
    top: 30px;
    z-index: 98
}
#map-search #searchmap {
    margin-top: -12px;
    margin-left: -10px;
    background: #000;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    height: 33px
}
#map-container .dfuw_logo {
    background: url(images/dfuw-map-logo.png) no-repeat;
    width: 56px;
    height: 27px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 70px;
    z-index: 98
}
.gm-style-iw,
.gm-style-iw>div {
    overflow: hidden!important
}
ul.poi-info {
    margin-bottom: 20px
}
.gm-style-iw .icon-cog {
    display: none
}
.gm-style-iw .icon-comment {
    position: relative;
    left: 0;
    bottom: 13px;
    display: block;
    text-indent: -9999px
}
.logged-in .gm-style-iw .icon-cog {
    text-indent: -9999px;
    position: absolute;
    left: 0;
    bottom: 0;
    display: block
}
.edit-link {
    float: right;
    margin-top: -6px
}
.post-image {
    border: 3px solid #000
}
.post-edit-link,
.btn-inverse {
    font-weight: normal;
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: whiteSmoke;
    background-image: -moz-linear-gradient(top, white, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, white, #e6e6e6);
    background-image: -o-linear-gradient(top, white, #e6e6e6);
    background-image: linear-gradient(to bottom, white, #e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #BBB;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    border-bottom-color: #a2a2a2;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe6e6e6', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    color: white;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #363636;
    background-image: -moz-linear-gradient(top, #444, #222);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#444), to(#222));
    background-image: -webkit-linear-gradient(top, #444, #222);
    background-image: -o-linear-gradient(top, #444, #222);
    background-image: linear-gradient(to bottom, #444, #222);
    background-repeat: repeat-x;
    border-color: #222 #222 black;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff444444', endColorstr='#ff222222', GradientType=0);
    filter: progid: DXImageTransform.Microsoft.gradient(enabled=false)
}
.post-edit-link:hover {
    color: white;
    background-color: #222;
    text-decoration: none;
    background-position: 0 -15px;
    -webkit-transition: background-position .1s linear;
    -moz-transition: background-position .1s linear;
    -o-transition: background-position .1s linear;
    transition: background-position .1s linear
}
.btn.learn {
    text-transform: uppercase
}
.divider-dotted {
    border-top: 4px double;
    height: 2px;
    margin: 18px 0 10px;
    clear: both
}
.divider-solid {
    background: url(images/border-solid.png) repeat-x 0 0;
    height: 4px;
    clear: both;
    margin: 18px 0;
    border: 0
}
.widget-container ul {
    margin-bottom: 30px
}
.widget-area {
    margin-bottom: 30px
}
.ui-accordion .ui-accordion-header {
    background: url(images/accordion-header.png) no-repeat;
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 20px
}
.ui-accordion-header a {
    position: relative;
    width: 100%;
    display: inline;
    font-weight: normal
}
.ui-accordion-header a i {
    position: absolute;
    top: 6px;
    right: -20px
}
.ui-accordion p {
    text-shadow: 1px 1px 9px #CCC
}
.ui-accordion .ui-accordion-content {
    background: url(images/accordion-pane.png);
    width: 637px;
    margin: -10px auto;
    border: 2px solid #221613;
    padding: 2em 1.2em!important;
    min-height: 100px;
    overflow: hidden!important
}
.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-state-active {
    border: none!important
}
.ui-accordion-header a {
    color: white!important
}
a[data-streamer]:after {
  background: red;
  color: white;
  content: 'LIVE ON TWITCH';
  display: block;
  top: 0;
  left: 0;
  font-size: 11px;
  padding: 2px;
  height: 11px;
  vertical-align: middle;
  line-height: 11px;
}
a[data-streamer]:before {
  background: url('images/Glitch_White_RGB.svg') no-repeat;
  background-size: contain;
  width: 100%;
  height: 16px;
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  content: attr(data-streamer);
  color: white;
  font-weight: normal;
  font-size: 11px;
  background-position: 4px;
}
.single-school #school-details .thumb {
    float: left;
    background: black;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: 0 20px 20px 0;
    border: 4px solid black
}
.ui-accordion .pane .thumb img {
  border-radius: 0;
}
.ui-accordion .pane .thumb {
  border: 0;
  border-radius: 0;
  box-shadow: 1px 2px 2px black;
  margin: 0 20px 20px 0;
  float: left;
}
#school-details .thumb,
.post-type-archive-school .ui-accordion .thumb {
    border-radius: 15px!important;
    -moz-border-radius: 15px!important;
    -webkit-border-radius: 15px!important
}
.ui-widget li.none {
    font-family: 'Oswald', sans-serif;
    font-weight: 400
}
.thumb img {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    vertical-align: middle
}
.ui-accordion .pane .descr {
    float: left;
    margin-top: 0;
    width: 430px
}
.single-school .descr {
    float: left;
    width: 498px;
    margin-top: 20px
}
#content>h2 {
    padding-left: 10px
}
.ui-accordion .pane h2 {
    font-size: 18px
}
.ui-accordion .pane .descr .detail-list {
    text-align: left;
    clear: none;
    width: 200px;
    float: left
}
.ui-accordion .pane .descr .detail-list.last h2 {
    text-align: center
}
.ui-accordion .label {
    background: none!important
}
.ui-accordion .ui-accordion-content {
    overflow: hidden
}
.bars {
    list-style: none;
    width: 200px;
    margin: 0;
    padding: 0
}
.bars li {
    height: 20px
}
.bars li span {
    display: block
}
.bars li span.label {
    float: left;
    width: 43%;
    text-align: right
}
.bars li span.bar {
    border: 2px solid #5b5b5b;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 13px;
    padding: 1px;
    float: right;
    width: 50%
}
.bars li span.fill {
    height: 11px;
    width: 98%;
    overflow: hidden;
    margin: 1px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-size: 9px;
    font-weight: bold;
    text-align: center
}
.bars li.health span.fill {
    background: red
}
.bars li.stamina span.fill {
    background: yellow
}
.bars li.mana span.fill {
    background: #0070ff
}
.bars li.attack-power span.fill {
    background: orange
}
.bars li.support span.fill {
    background: green
}
.bars li.defense span.fill {
    background: purple
}
ul.school-list li {
    float: left;
    margin-right: 10px
}
ul.school-list li .icon {
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    height: 32px;
    width: 32px;
    display: block;
    padding: 3px;
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
    filter: grayscale(0%)
}
ul.school-list li .icon:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%)
}
.ui-state-default .ui-icon {
    background: url(images/bullet.png) no-repeat 0 0!important
}
.ui-state-active .ui-icon {
    background: url(images/role16.png) no-repeat 0 0!important
}
.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    position: absolute;
    left: 16px!important;
    margin-top: 3px!important;
    top: 11px!important
}
.ui-accordion .pane a.btn-inverse {
    color: white!important
}
.btn i {
    margin-top: 2px
}
#expand-all.btn {
    float: right;
    clear: right
}
#df-vid {
    float: left;
    background: black
}
#twitch-player {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
}
#featured-vids {
    background: url(images/bg-featured-vids.png) no-repeat;
    float: right;
    height: 371px;
    width: 259px;
    border-left: 2px solid #211614
}
#vid-wrapper {
    height: 300px;
    overflow-x: hidden;
    margin-top: 10px;
    width: 250px
}
#featured-vids h3 {
    margin-top: 7px;
    text-align: center;
    color: white;
    text-shadow: 0 0 #000;
    font-size: 24px;
    font-family: 'Smythe', sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 1px;
    border: 0
}
#featured-list {
    padding: 20px 0 0;
}
#featured-list li {
    text-align: center;
    margin: 0 auto 20px;
    width: auto;
    height: 70px;
    background: 0;
    padding-left: 0
}
#featured-list li .icon-play,
.video .thumb .icon-play {
    position: absolute;
    z-index: 10;
    width: 43px;
    height: 42px;
    top: 50%;
    left: 50%;
    background: 0;
    margin-left: -21px;
    margin-top: -21px;
    opacity: .50;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity 50);
    filter: alpha(opacity 50)
}
#featured-list li:hover .icon-play {
    opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity 100);
    filter: alpha(opacity 100)
}
#featured-list li a {
    width: 120px;
    height: 70px;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #000;
    position: relative
}
.home .bottom {
    width: 100%;
    margin-top: 20px
}
.bottom .item {
    width: 292px;
    float: left;
    margin-bottom: 10px
}
.bottom .item.last {
    margin-right: 0;
    padding-right: 0;
    border-right: 0
}
.bottom .blogfeed {
    width: 588px
}
.bottom .blogfeed a.post {
    font-size: 22px;
    height: 25px;
    width: 580px;
    display: block
}
.blogfeed a i.icon {
    background: url(images/icon-dfblog.png) no-repeat;
    width: 16px;
    height: 15px;
    float: left;
    margin-right: 3px;
    margin-top: 1px
}
.blogfeed a.MMORPG i.icon {
    background: url(images/icon-mmorpg.png) no-repeat;
    width: 16px;
    height: 16px
}
.blogfeed a.dfuwfb i.icon {
    background: url(images/icon-fb.png) no-repeat;
    width: 16px;
    height: 16px
}
.blogfeed a.siteupdate i.icon {
    background: url(images/icon-tools.png) no-repeat;
    width: 16px;
    height: 16px
}
.blogfeed a.DevTracker i.icon {
    background: url(images/icon-av.png) no-repeat;
    width: 16px;
    height: 20px
}
.blogfeed p {
    margin-top: 5px
}
.blogfeed .edit-link {
    display: none
}
.entry-content ul {
    clear: both
}
.entry-content ul li {
    background: url(images/bullet.png) no-repeat;
    padding-left: 20px;
    margin-bottom: 10px
}
.bottom .eventfeed,
.bottom .forumfeed,
.bottom .devtracker {
    float: right;
    clear: right;
    position: relative
}
.bottom .blogfeed ul li:hover,
.bottom .eventfeed ul li:hover {
    background: url(images/role16.png) no-repeat
}
.eventfeed .item {
    border-top: 1px dotted;
    padding-top: 10px
}
.eventfeed .item a {
    display: block;
    height: 35px;
    font-size: 14px;
    font-weight: 700;
    line-height: 35px;
    vertical-align: middle;
    overflow: hidden
}
.eventfeed .item.first {
    border-top: 0
}
.eventfeed img.icon {
    float: left;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    width: 35px;
    height: 35px
}
.eventfeed p {
    margin-bottom: 0
}
.icon-rss {
    width: 16px;
    height: 16px;
    background: url(images/rss_16.png) no-repeat;
    margin-top: 8px
}
.type-post .attachment-post-thumbnail {
    float: left;
    background: black;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    margin: 0 20px 20px 0
}
.type-post .entry-meta {
    display: block
}
.single-post .type-post .entry-content p {
    margin-bottom: 20px;
    max-width: 545px;
    margin-top: 10px
}
.single #content h2 {
    padding-left: 0;
    margin-bottom: 10px;
    height: 28px
}
.category .type-post .entry-meta .edit-link {
    display: none
}
.category .type-post .entry-summary {
    clear: both
}
.category .type-post .entry-meta,
.category .type-post .entry-title {
    float: left;
    clear: left;
    margin-right: 15px
}
.category .category-blog .type-post,
div.category-blog .entry-content p {
    max-width: 100%!important
}
.category .type-post {
    margin-bottom: 30px;
    float: left;
    margin-top: 8px;
    border-bottom: 1px dotted;
    max-width: 630px
}
.category a.icon,
{
    float: left;
    background: black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin: 0 15px 20px 0;
    width: 50px;
    height: 50px
}
#featured-list img {
    background: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}
img.alignleft {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px
}
img.alignright {
    float: left;
    margin-right: 20px;
    margin-bottom: 20px
}
.social-list {
    margin-top: 5px
}
footer .social-list {
    margin-top: 0
}
footer .df-social {
    width: 275px;
    float: right
}
footer .df-social p {
    width: 100px;
    float: left;
    font-weight: 700;
    line-height: 32px;
    height: 32px;
    margin: 0
}
.df-social .social-list li {
    width: 32px;
    height: 32px;
    float: left;
    margin-right: 3px;
    text-indent: -9999px;
    background: url(images/icons-social.png)
}
.df-social .social-list li a {
    display: block;
    width: 32px;
    height: 32px
}
.df-social .social-list li:hover {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
    margin-top: -3px;
    transition: .2s;
    -webkit-transition: .2s;
    -moz-transition: .2s
}
.df-social .social-list .reddit {
    background-position: 0 128px
}
.df-social .social-list .twitter {
    background-position: 0 96px
}
.df-social .social-list .fb {
    background-position: 0 64px
}
.df-social .social-list .yt {
    background-position: 0 32px
}
.twitter-follow-button {
    position: absolute !important;
    right: 20px;
    bottom: 180px
}
select {
    width: 220px;
    background-color: #000;
    color: white;
    border: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400
}
.page-id-284 select {
    background: white;
    color: inherit
}
.page-id-284 select:focus {
    border-color: rgba(235, 253, 52, 0.8)!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 253, 52, 0.6)!important;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6)!important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(235, 253, 52, 0.6)!important;
    outline: 0;
    outline: thin dotted 9
}
#school_selector {
    width: 134px;
    float: left;
    clear: left;
    margin-left: 12px
}
.page .video {
    width: 340px;
    float: left;
    clear: left
}
.page .video h2 {
    height: 25px;
    padding-top: 5px;
    overflow: hidden;
    font-size: 18px
}
.page .video p {
    max-height: 70px;
    overflow: hidden
}
.page .video.right {
    float: right;
    clear: right
}
.type-video {
    width: 100%
}
.page .video .thumb {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 2px solid #000;
    position: relative;
    width: 340px;
    height: 191px;
    display: block
}
.video .thumb:hover .icon-play {
    opacity: 1;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity 100);
    filter: alpha(opacity 100)
}
#nav-below {
    clear: both;
    margin-top: 20px
}
#nav-below .btn.prev {
    float: right
}
#nav-below .btn {
    padding-top: 0
}
#nav-below .btn i {
    margin-top: 6px
}
h2 {
    height: 27px;
    overflow: hidden;
    line-height: 22px
}
.forumfeed li a {
    height: 19px;
    overflow: hidden;
    display: block;
    font-size: 16px
}
.forumfeed li .descr {
    max-height: 56px;
    overflow: hidden;
    display: block
}
.forumfeed li {
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dotted #000
}
.error404 h1 {
    text-align: center;
    font-size: 130px;
    height: 130px;
    padding: 0;
    margin: 0;
    line-height: 130px
}
.error404 #server-status {
    bottom: 34px
}
.error404 header nav {
    position: absolute;
    bottom: -80px;
    z-index: 1000
}
.error404 .df-404 {
    margin: 0;
    width: 100%;
    height: 530px;
    background: url(images/4OH4-lost.png) no-repeat
}
.error404 #content {
    float: none;
    width: 100%;
    margin: 45px 0;
    padding: 0
}
.error404 .entry-content {
    width: 285px;
    margin: 0 auto;
    position: absolute;
    bottom: 30px;
    right: 20px
}
.addthis_toolbox {
    position: absolute;
    left: -100px!important;
    top: 270px!important
}
.feedback {
    margin-top: 20px
}
.feedback .name {
    float: left;
    margin-right: 20px
}
.feedback .email {
    float: left
}
.feedback .subject {
    clear: both
}
.feedback textarea {
    width: 500px
}
.feedback .clan-details,
.feedback .event-details {
    display: none;
    clear: both
}
.feedback .clan-details p {
    float: left;
    margin-right: 30px
}
.feedback .clan-details p.cname,
.feedback .clan-details p.cli,
.feedback .clan-details p.cs,
.feedback .clan-details p.ca {
    clear: left
}
.wpcf7-response-output {
    background: #221715;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: white;
    border: 0;
    padding: 10px
}
.clans {
    width: 695px
}
#clans-list {
    margin: 30px 0
}
#clans-list .clan_name {
    text-align: left;
    padding-left: 10px
}
#clans-list td {
    text-align: center;
    padding: 10px 0;
    border-right: 1px solid #000
}
#clans-list td.last {
    border-right: 0
}
#clans-list th {
    color: white;
    padding: 10px 0;
    font-weight: bold;
    background: #221715;
    position: relative;
    cursor: pointer;
    border-right: 1px solid white
}
#clans-list th.last {
    border-right: 0
}
#clans-list tr,
.misc-info tr {
    background: #ccc
}
#clans-list tr.odd,
.misc-info tr.odd {
    background: #e7e7e7
}
#clans-list .server {
    text-transform: uppercase
}
#clans-list .headerSortUp,
#clans-list .headerSortDown {
    background: #3a1e09
}
#clans-list i {
    background-image: url("img/glyphicons-halflings-white.png");
    display: none;
    margin-top: 4px;
    margin-left: 4px
}
#clans-list .headerSortDown i {
    background-position: -288px -120px;
    display: inline-table
}
#clans-list .headerSortUp i {
    background-position: -313px -119px;
    display: inline-table
}
.clans select {
    width: 62px;
    float: left;
    margin-left: 10px
}
.clans h2 {
    float: left
}
.clans p.tip {
    float: right;
    margin-bottom: 0
}
.clans p.tip i,
.misc-game-info .tip i {
    margin-top: 5px
}
.misc-game-info .tip {
    position: absolute;
    top: -42px;
    right: 0;
}
.clans p.totals {
    font-weight: 700
}
#clans-list .clan_name a i {
    background: url(images/icon-link.png) no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    margin-right: 5px;
    margin-top: 2px
}
.load-wrapper {
    display: none
}
.loading {
    position: absolute;
    top: 34px;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .6;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity 60);
    filter: alpha(opacity 60);
    background: black;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px
}
.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -14px;
    margin-top: -14px;
    z-index: 10
}
.page-template-page-thankyou-php #content {
    text-align: center
}
blockquote a {
    color: #990000
}
blockquote {
    width: 90%;
    margin: 30px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    opacity: .80;
    -ms-filter: progid: DXImageTransform.Microsoft.Alpha(Opacity 80);
    filter: alpha(opacity 80);
    color: white;
    clear: both;
    background: black;
    padding: 10px;
    font-style: italic
}
blockquote p {
    float: none!important
}
.archive .post {
    margin-bottom: 30px
}
::-webkit-scrollbar {
    width: 5px
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #5b5b5b
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: rgba(29, 19, 14, 0.8);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5)
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(29, 19, 14, 0.4)
}
#server-status {
    background: #000;
    font-size: 26px;
    padding: 5px 10px;
    position: absolute;
    right: 20px;
    bottom: 104px;
    color: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 5px #000;
    -webkit-box-shadow: 2px 2px 5px #000;
    box-shadow: 2px 2px 5px #000;
    filter: progid: DXImageTransform.Microsoft.Shadow(strength 2, direction 135, color '#000000');
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(strength = 2, Direction = 135, Color = '#000000')"
}
#server-status h2 {
    color: white;
    text-shadow: 0 0 0 #CCC;
    text-align: center;
    white-space: nowrap
}
#server-status i.icon {
    background: url(images/icon-server-status.png) no-repeat;
    width: 21px;
    height: 21px;
    display: block;
    float: right;
    margin-left: 5px
}
#server-status i.gm,
#server-status i.mastergm,
#server-status i.admin {
    background-position: 0 bottom
}
#server-status i.down {
    background-position: 0 -42px
}
#server-status i.player {
    background-position: 0 -21px
}
#server-status span {
    float: left;
    margin-right: 10px
}
#server-status span.login {
    margin-right: 0
}
.post-type-archive-skill .ui-accordion .pane .descr {
    width: 545px
}
.misc-info {
    width: 45%;
    padding: 15px
}
.misc-info.left {
    float: left;
    clear: left;
    padding-left: 0
}
.misc-info.right {
    float: right;
    clear: right;
    padding-right: 0
}
.misc-info.full {
    width: 100%;
    clear: both;
    padding: 0
}
.misc-info h4 {
    font-weight: bold
}
.misc-info table {
    width: 100%
}
.misc-info table td,
.misc-info table th {
    border: 1px solid #000
}
.misc-info table th {
    background: #000;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    padding: 5px 0
}
.misc-info table th:first-child,
.misc-info table td:first-child {
    text-align: left;
    padding-left: 15px
}
.misc-info table td {
    padding: 5px;
    text-align: center
}
.misc-game-info table .headerSortUp,
.misc-game-info table .headerSortDown {
    background: #3a1e09
}
.misc-game-info table i {
    background-image: url("img/glyphicons-halflings-white.png");
    display: none;
    margin-top: 4px;
    margin-left: 4px
}
.misc-game-info table .headerSortDown i {
    background-position: -288px -120px;
    display: inline-table
}
.misc-game-info table .headerSortUp i {
    background-position: -313px -119px;
    display: inline-table
}
.disclaimer {
    background: #000;
    color: white;
    padding: 5px 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-top: 40px
}
.gdoc {
    background: #fff
}
#post-954 ul {
    margin-bottom: 20px
}
#post-954 ul ul {
    margin-top: 5px
}
#post-954 ul li {
    font-weight: bold;
    font-size: 20px;
    background: 0;
    padding-left: 0;
    line-height: 23px
}
#post-954 ul li li {
    font-weight: normal;
    font-size: 14px;
    line-height: 20px
}
strong {
    font-weight: bold
}
#selections {
    float: left
}
.page-template-page-crafting-php .gad[data-ad-type="square"] {
    float: right;
    margin: 0 0 20px 20px
}
.page-template-page-crafting-php select,
.page-template-page-crafting-new-php select {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    display: none
}
#selections .selection-box {
    display: none;
    float: left
}
.page .ui-autocomplete .ui-state-hover,
.page .ui-autocomplete .ui-widget-content .ui-state-hover,
.page .ui-autocomplete .ui-widget-header .ui-state-hover,
.page .ui-autocomplete .ui-state-focus,
.page .ui-autocomplete .ui-widget-content .ui-state-focus,
.page .ui-autocomplete .ui-widget-header .ui-state-focus {
    border: 1px solid #bfaa39;
    background: #990000;
    color: black
}
#selections label {
    margin: 0 20px 10px 0;
    float: left
}
#item-details .btn-group {
    display: none
}
.page-template-page-crafting-new-php #trade_select,
.page-template-page-crafting-php #trade_select,
#item-details.weaponsmithing .btn-group,
#item-details.bowyer .btn-group,
#item-details.shieldcrafting .btn-group,
#item-details.staffcrafting .btn-group {
    display: block
}
#item-details {
    float: right;
    width: 100%;
    margin-top: 30px;
    min-height: 340px
}
#item-details .btn-group {
    margin: 0 auto;
    left: 50%;
    margin-left: -30px
}
#item-details #r_Arrow_01 .btn-group {
    display: none
}
#item-details #thumb {
    width: 64px;
    height: 64px;
    border: 2px solid #221715;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    margin: 0 auto 10px;
    background: #000
}
#item-details input[type="number"] {
    width: 40px
}
#item-details .left {
    float: left;
    width: 50%
}
#item-details .thumb-cont {
    width: 18%;
    float: left;
    margin-right: 20px
}
#item-details .details {
    float: left;
    width: 66%
}
#item-details .ingredients:after {
    display: block;
    clear: both;
    content: ''
}
#item-details ul.ingredients,
#item-details ul.extras {
    float: right;
    clear: none
}
#item-details ul.ingredients {
    float: left
}
#item-details .right {
    float: right;
    width: 48%
}
#item-details h3,
#item-details .recipe .well {
    text-transform: capitalize
}
#item-details .recipe .well {
    cursor: pointer
}
#item-details .recipe .theName {
    font-weight: bold
}
#item-details .btn {
    padding: 4px
}
#item-details .popover {
    top: 210px!important
}
.ingredients[data-content] {
    cursor: help
}
#item-details #protections {
    max-height: 400px
}
#item-details #protections li {
    float: left;
    width: 150px;
    list-style-type: none
}
.ui-autocomplete {
    z-index: 100
}
#recipeModal textarea {
    width: 95%;
    min-height: 150px
}
#recipeModal .modal-footer p {
    float: left;
    font-style: italic
}
#recipeModal .modal-header {
    background: #000;
    color: #FFF;
    border-radius: 3px 3px 0 0
}
#recipeModal .modal-header h2 {
    color: white;
    text-shadow: 1px 1px 1px black
}
#selections input.custom-combobox-input {
    width: 165px;
    background: #000;
    color: white;
    border: 0;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    padding: 3px 10px 3px 15px;
    float: left
}
#selections .custom-combobox-toggle {
    background: #000;
    padding: 8px 0;
    float: left;
    margin-right: 15px
}
.mozilla #selections .custom-combobox-toggle {
    padding: 9px 0
}
#selections .ui-state-default .ui-icon {
    background: url("images/ui-icons_ffffff_256x240.png") -65px 0!important
}
#selections .ui-autocomplete {
    z-index: 3
}
.slick-cell.selected {
    background: green;
    background: rgba(0, 255, 0, 0.2)
}
.slick-cell.copied {
    background: blue;
    background: rgba(0, 0, 255, 0.2);
    -webkit-transition: .5s background
}
* {
    font-size: 10pt;
    font-weight: normal
}
.slick-header-columns {
    overflow: visible;
    white-space: pre-wrap;
    height: 48px;
    text-align: center
}
.slick-header-column.ui-state-default {
    color: #dadada;
    text-shadow: 0 2px 3px #555;
    height: 30px!important;
    white-space: pre-wrap!important;
    text-transform: capitalize
}
.slick-column-name {
    font-weight: bold;
    text-align: center;
    display: block
}
.slick-cell {
    overflow: visible;
    white-space: pre-wrap!important;
    text-align: center;
    padding: 12px
}
.filter {
    display: block;
    margin-left: auto;
    margin-right: auto
}
.slick-cell.r1 {
    padding: 0!important;
    width: 63px!important;
    height: 63px!important
}
.slick-headerrow-column {
    min-height: 25px;
    padding: 0!important;
    border-top: 1px solid #221715!important;
    border-left: 1px solid #221715!important;
    border-bottom: 1px solid #221715!important
}
.slick-headerrow-column:last-child {
    border-right: 1px solid #221715!important
}
.slick-header-column.ui-state-default {
    color: white!important
}
.slick-column-name {
    font-weight: normal
}
.ui-widget input,
.ui-widget select,
.ui-widget textarea,
.ui-widget button {
    margin: 0 auto;
    width: 100%;
    border: 0;
    font-size: 18px!important
}
#craftingGrid .ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    background: #e7e7e7!important
}
#craftingGrid .ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    background: #ccc!important
}
#craftingGrid .slick-header .ui-state-default {
    background: #221715!important
}
.slick-cell {
    height: 39px!important;
    padding: 12px!important;
    vertical-align: middle;
    line-height: 16px
}
div.slick-cell {
    border-left: 1px solid #221715!important;
    border-bottom: 1px solid #221715!important;
    color: #333!important
}
.slick-headerrow-columns {
    height: 27px!important
}
input.filter {
    font-size: 100%!important;
    font-weight: normal!important;
    padding: 5px;
    height: 25px;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box
}
#craftingGrid {
    min-height: 800px;
    background: #221715;
    font-size: 11px
}
.tabs ul {
    margin: 0;
    padding: 0;
    clear: both;
    height: 36px
}
.tabs li {
    list-style: none;
    float: left;
    padding: 10px 15px;
    background: #221715;
    border: 1px solid #ccc
}
.tabs li:first-child {
    -moz-border-radius: 5px 0 0 0;
    -webkit-border-radius: 5px 0 0 0;
    border-radius: 5px 0 0 0
}
.tabs li:last-child {
    -moz-border-radius: 0 5px 0 0;
    -webkit-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0
}
.tabs li.active {
    background: #e7e7e7
}
.tabs .active a {
    color: #221715
}
.slick-cell,
.slick-headerrow-column {
    white-space: pre-wrap!important
}
.tabs li a {
    display: block;
    width: 100%;
    height: 100%;
    color: white;
    font-weight: bold;
    text-decoration: none
}
#craftingGrid input[type="text"] {
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0
}
body.search-results .hentry {
    margin-bottom: 20px
}
.yop-poll-container {
    width: 160px!important;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px
}
.yop-poll-container ul li {
    background: none!important;
    padding-left: 0!important
}
.yop-poll-container ul li input {
    float: left!important;
    margin-right: 6px!important
}
.yop-poll-container ul li label {
    float: left!important
}
.yop-poll-container input[name='yop_poll_other_answer'] {
    margin-left: 20px!important
}
.yop-poll-container ul li.yop-poll-li-result-2 label {
    float: none!important
}
.Yop.Poll.Widget {
    margin-bottom: 20px
}
.yop-poll-answers li div {
    display: block;
    clear: left
}
textarea#comment {
    width: 486px
}
.item.home-widget-area {
    float: right;
    clear: right;
    position: relative
}
.home-widget-area .yop-poll-container {
    width: 272px!important
}
#anti-ads {
    position: fixed;
    width: 100%;
    height: 45px;
    background: #ee3330;
    color: white;
    text-align: center;
    z-index: 100;
    line-height: 40px;
    vertical-align: middle;
    font-size: 20px;
    display: none;
    cursor: pointer
}
#anti-ads i {
    position: absolute;
    right: 20px;
    top: 50%;
    margin-top: -8px
}
article>.gad {
    margin-top: 0
}
.home .gad {
    width: 728px;
    margin-bottom: 0
}
.gad {
    margin: 20px auto;
    text-align: center
}
#google_translate_element {
    position: absolute;
    right: 10px;
    top: 10px
}
.goog-te-gadget-simple {
    background: #1a1311!important;
    color: #FFF!important;
    border-radius: 5px;
    -moz-border-radius: 5px
}
.goog-te-gadget-simple .goog-te-menu-value span:first-child {
    margin-right: 5px
}
.goog-te-menu-value {
    color: #fff!important
}
.goog-te-gadget-simple img {
    display: none
}
.goog-te-gadget-simple .goog-te-menu-value:hover {
    text-shadow: 0 0 black
}
pre {
    padding: 10px
}
#single-spell-details .descr {
    font-size: 20px;
    line-height: 27px
}
#single-spell-details .thumb {
    float: left;
    margin-right: 10px;
    margin-bottom: 300px
}
.devtracker h4 a {
    height: 20px;
    display: block;
    overflow: hidden
}
.devtracker .item p {
    max-height: 56px;
    overflow: hidden;
    display: block;
    margin-bottom: 0
}
.devtracker p {
    margin-bottom: 5px
}
.devtracker .item {
    margin-bottom: 0
}
.devtracker .cycle-pager {
    position: absolute;
    top: 38px;
    right: 0
}
.devtracker .cycle-pager a.cycle-pager-active {
    background: url(images/role16.png) no-repeat
}
.devtracker .cycle-pager a {
    text-indent: -9999px;
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(images/bullet.png) no-repeat
}
#comments {
    margin-top: 40px
}
div.comment-reply-link {
    margin-bottom: 30px
}
.comment {
    position: relative
}
.comment .avatar {
    width: 30px;
    height: 30px;
    float: left
}
.comment-author span {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    margin-left: 5px
}
.comment .comment-meta {
    position: absolute;
    right: 0;
    top: 0;
    height: 30px;
    line-height: 30px;
    font-style: italic
}
